{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contac.png' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Información</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <h4>Puedo ayudarte en: </h4>
        <p>- Diseño y desarrollo de páginas web. </p>
        <p>- Gestión y optimización de bases de datos en MySQL y MongoDB.</p>
        <p>- Administración de servidores y monitoreo de redes.</p>
        <p>- Mantenimiento preventivo y correctivo de servidores y computadoras.</p>
        <p>- Implementación de soluciones tecnológicas para mejorar la eficiencia empresarial.</p>
            
        <br>
        <p><b>Teléfono:</b> 722 367 2951</p>
        <p><b>Correo electrónico:</b> al222211398@gmail.com</p>
    </div>
</div>
{% endblock %}

